.box {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex.items-center {
  align-items: center;
}

.grow {
  flex-grow: 1
}

.responsive {
  min-width: 0;
  flex: auto;
}

.gap {
  gap: var(--base-unit);
}

.gap-3 {
  gap: calc(var(--base-unit) * 3);
}

.padding {
  padding: var(--base-unit);
}

.margin {
  margin: var(--base-unit);
}

.margin-center {
  margin: 0 auto;
}

.mt-1 {
  margin-top: var(--base-unit);
}

.mt-2 {
  margin-top: calc(var(--base-unit) * 2);
}

.mt-4 {
  margin-top: calc(var(--base-unit) * 4);
}

.mt-8 {
  margin-top: calc(var(--base-unit) * 8);
}

/** отступ от хидера до контента со списками */
.mt-content {
  margin-top: var(--margin-content-top);
}

.mb-1 {
  margin-bottom: var(--base-unit);
}

.mb-2 {
  margin-bottom: calc(var(--base-unit) * 2);
}

.mb-4 {
  margin-bottom: calc(var(--base-unit) * 4);
}

.mb-8 {
  margin-bottom: calc(var(--base-unit) * 8);
}

/** отступ от контента со списками до низа страницы */
.mb-content {
  margin-bottom: var(--margin-content-bottom);
}

.mr-1 {
  margin-right: var(--base-unit);
}

.mr-2 {
  margin-right: calc(var(--base-unit) * 2);
}

.mr-4 {
  margin-right: calc(var(--base-unit) * 4);
}

.w-100 {
  width: 100%;
}

.bordered {
  border: var(--border);
}

.no-shadow {
  box-shadow: none;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.ta-l {
  text-align: left;
}

/* APP-SIZES */
.w-card {
  width: var(--width-card);
}

.w-main {
  width: var(--width-main);
}

.w-aside {
  width: var(--width-aside);
}
