.box {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex.items-center {
  align-items: center;
}

.grow {
  flex-grow: 1
}

.responsive {
  min-width: 0;
  flex: auto;
}

.gap {
  gap: var(--base-unit);
}

.gap-3 {
  gap: calc(var(--base-unit) * 3);
}

.padding {
  padding: var(--base-unit);
}

.margin {
  margin: var(--base-unit);
}

.mt-1 {
  margin-top: var(--base-unit);
}

.mt-2 {
  margin-top: calc(var(--base-unit) * 2);
}

.mt-4 {
  margin-top: calc(var(--base-unit) * 4);
}

.mr-1 {
  margin-right: var(--base-unit);
}

.mr-2 {
  margin-right: calc(var(--base-unit) * 2);
}

.mr-4 {
  margin-right: calc(var(--base-unit) * 4);
}

.w-100 {
  width: 100%;
}

/* APP-SIZES */
.w-card {
  width: var(--width-card);
}
