.ui-paper {
  padding: var(--gap);
  margin: var(--gap);
  background-color: var(--background-secondary);
  border-radius: var(--rounded);
  box-shadow: var(--shadow-primary);
}

.flex {
  display: flex;
}
