* {
  --base-unit: 4px;

  --font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
  --font-size: calc(var(--base-unit) * 4);

  --rounded: calc(var(--base-unit) * 2);
  --gap: calc(var(--base-unit) * 3);

  --margin-content-top: 80px;
  --margin-content-bottom: 160px;

  --background-primary: white;
  --background-secondary: hsl(0, 0%, 97%);
  --background-tertiary: hsl(203, 57%, 97%);

  --border-color: #eee;
  --border-size: 1px;
  --border: var(--border-size) solid var(--border-color);

  --shadow-primary: 1px 2px 4px hsl(0, 0%, 83%);

  /* APP SIZES */
  --width-main: 860px;
  --width-modal: 540px;
  --width-aside: 360px;
}

/* body.dark-mode {
  background-color: #141414;
} */
/*
body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
} */

:where(html) {
  --darkmode: 0;
  container-name: root;
  container-type: normal;
}

body {
  --background-color: #FFF;
  --text-color: #222;
  background-color: var(--background-color);
  color: var(--text-color);
  color-scheme: light dark;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  html { --darkmode: 1; }
}
@media (prefers-color-scheme: light) {
  html { --darkmode: 0; }
}

html:has(#color-scheme-light:checked) { --darkmode: 0; }
html:has(#color-scheme-dark:checked) { --darkmode: 1; }

@container root style(--darkmode: 1) {
  body {
    --background-color: hsl(228, 5%, 15%);
    --text-color: hsl(228, 5%, 80%);
  }
}
