.board-component {
  display: flex;
  gap: 20px;
  /* background-color: rgb(247, 247, 247); */
  padding: 20px;
  margin: 10px;  
  height: 100%;
}

.board-component-search {

}

.board-header {
  margin: 20px 30px 0 30px;
  display: flex;
  justify-content: space-between;
}

.board-header-search-filters {
  display: flex;
  gap: 15px;
}
